* {
    font-family: 'Fraunces', serif;
    color: #fff;
}

body {
    margin: 0;
    background-color: #00916e;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(6, 75px);
    grid-template-rows: 160px repeat(6, 75px);
    background-color: #224870;
    padding: 15px;
    border-radius: 32px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    font-size: 1.5em;
    border:none;
    background-color: black;
}

button:active {
    background-color: #363636;
}

button:focus {
    outline: none;
}

.row-2 {
    grid-row: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}